.center-box {
  background-color: #fff;
  margin: 50px auto;
  padding: 50px 100px;
  text-align: center;

  button {
    display: block;
    margin: 38px auto 0 auto;
  }
}

h1 {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.4rem;
}

.orange {
  background-color: #AD4E00;
  border: none;
  color: #fff;
  &:hover, &:focus {
    background-color: #AD4E00;
    color: #fff;
  }
}

.green {
  background-color: #237804;
  border: none;
  color: #fff;
  &:hover, &:focus {
    background-color: #237804;
    color: #fff;
  }
}
