.ant-layout-header {
  z-index: 1;
  padding: 0px;
}

.fruits-header-title {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 20px;
}

.fruits-header-divider {
  display: inline-block;
  border-left: 1px solid #fff;
  height: 32px;
  margin: 0 25px;
  vertical-align: middle;
}

.fruits-header-menu {
  width: 100%;
  line-height: 64px;
  background: #0050B3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  .ant-menu-item {
    a {
      color: #fff;
    }
  }
}

.logo {
  margin: 0 40px;
  float: left;
}
