.score {
  background-color: rgba(250, 219, 20, 0.5);
  border: none;
  display: block;
  color: #000;
  font-size: 3rem;
  font-weight: bold;
  height: 130px;
  width: 130px;
  margin: 30px auto 10px auto;

  &:hover {
    background-color: rgba(250, 219, 20, 0.5);
    color: #000;
    cursor: default;
  }
}
